<h1> My Flatt Table</h1>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="">Flatt Table Data</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Account List</a>
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Create Account</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
