<mat-toolbar color="primary">

  <button mat-icon-button class="example-icon" aria-lable="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>My Flat Table</span>

  <button mat-icon-button class="'example-icon" style="margin-left: 10px;" routerLink="/table">
    <mat-label>All List</mat-label>
    <!-- <mat-icon>add</mat-icon> -->
  </button>

  <!-- <button mat-icon-button class="exapmple-icon" (click)="openDialog()" routerLink="/create"
    style="margin-left: 50px;">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button class="'example-icon" routerLink="/update">
    <mat-icon>edit</mat-icon>
  </button> -->

</mat-toolbar>